*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

/* GENERAL CSS */

.main {
  min-height: 100vh;
  height: 100%;
  padding: 3rem;
}


label,
.form-control {
  color: #274c5e;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn-xs {
  font-size: 1.4rem;
}

.btn-sm {
  font-size: 2rem;
}

.btn-m {
  font-size: 2.5rem;
}

.btn-l {
  font-size: 3rem;
}

.form-message {
  font-size: 1.8rem;
}

.alert-txt {
  font-size: 1.8rem;
}

.heading-primary {
  font-size: 6.5rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
}

footer {
    background-color: #3e4149;
    color: #f4f5f9;
    padding: 2rem;
}

.footer-txt {
    letter-spacing: 3px;
    margin: 0;
    font-size: 1.2rem;
}

/* COLORS */

.c-white {
  color: #fff;
}

.c-blk {
  color: #333030;
}

.bg-light-blue {
  background-color: #a3daff;
}

/* TEXT */

.txt-uppercase {
  text-transform: uppercase;
}

/* NAVBAR */

.navbar-brand {
  font-size: 4rem;
}

.nav-item {
  padding: 1rem;
}

.nav-link,
.dropdown-item {
  font-size: 1.2rem;
}

.dropdown-item {
  padding: 1rem;
}
/* LOGIN PAGE */

.logo-container > i {
  font-size: 6rem;
}

.login-form {
  height: 100%;
}

.login-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/*  HOME  */

.table > thead > tr > th,
.table > tbody > tr > td {
    font-size: 1.2rem;
    text-transform: capitalize;
}