{% extends 'base-li.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div
        class="login-form d-flex flex-column align-items-center"
      >
      <h3 class="heading-tertiary mb-5 text-capitalize">Update Account Details</h3>
        {% if error_msg %}
        <div class="alert alert-danger w-50">
          <span class="alert-txt">{{ error_msg }}</span>
        </div>
        {% elif success %}
        <div class="alert alert-success w-50">
          <span class="alert-txt">{{ success }}</span>
        </div>
        {% endif %}
        <form class="w-50" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="signup_user">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="signup_user"
              aria-describedby="emailHelp"
              value="{{user.username}}"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="signup_email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="signup_email"
              aria-describedby="emailHelp"
              value="{{user.email}}"
            />
          </div>
          <div class="form-group">
            <label for="signup_fn">First Name</label>
            <input
              type="text"
              name="first_name"
              class="form-control"
              id="signup_fn"
              value="{{user.first_name}}"
            />
          </div>
          <div class="form-group">
            <label for="signup_ln">Last Name</label>
            <input
              type="text"
              name="last_name"
              class="form-control"
              id="signup_ln"
              value="{{user.last_name}}"
            />
          </div>
          <div class="form-group">
            <label for="signup_dob">Date of Birth</label>
            <input
              type="date"
              name="dob"
              class="form-control"
              id="signup_dob"
              value="{{user.dob}}"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-sm px-3 py-2 mt-3">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
