{% extends 'base-li.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="login-form d-flex flex-column align-items-center">
        <h3 class="heading-tertiary mb-5 text-capitalize">Add Family Member</h3>
        {% if error_msg %}
        <div class="alert alert-danger w-50">
          <span class="alert-txt">{{ error_msg }}</span>
        </div>
        {% elif success %}
        <div class="alert alert-success w-50">
          <span class="alert-txt">{{ success }}</span>
        </div>
        {% endif %}
        <form class="w-50" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="signup_fn">First Name</label>
            <input
              type="text"
              name="first_name"
              class="form-control"
              id="signup_fn"
            />
          </div>
          <div class="form-group">
            <label for="signup_ln">Last Name</label>
            <input
              type="text"
              name="last_name"
              class="form-control"
              id="signup_ln"
            />
          </div>
          <div class="form-group">
            <label for="signup_dob">Date of Birth</label>
            <input
              type="date"
              name="dob"
              class="form-control"
              id="signup_dob"
            />
          </div>
          <div class="form-group">
            <label for="signup_ln">Relation</label>
            <select name="relation" class="form-control">
              <option disabled value="Me" %}>Me</option>
              <option value="Father">Father</option>
              <option value="Mother">Mother</option>
              <option value="Brother">Brother</option>
              <option value="Sister">Sister</option>
              <option value="Song">Son</option>
              <option value="Daughter">Daughter</option>
              <option value="Paternal Grandfather">Paternal Grandfather</option>
              <option value="Paternal Grandmother">Paternal Grandmother</option>
              <option value="Maternal Grandfather">Maternal Grandfather</option>
              <option value="Maternal Grandmother">Maternal Grandmother</option>
              <option value="Father In Law">Father In law</option>
              <option value="Mother In Law">Mother In law</option>
              <option value="Grandchild">Grandchild</option>
              <option value="Uncle">Uncle</option>
              <option value="Aunt">Aunt</option>
            </select>
          </div>
          <div class="form-group">
            <label for="signup_ln">Vital Status</label>
            <select name="vital_status" class="form-control">
              <option value="alive">Alive</option>
              <option value="deceased">Deceased</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-sm px-3 py-2 mt-3">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
