{% extends 'base-li.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div
        class="login-form d-flex flex-column align-items-center"
      >
        <h3 class="heading-tertiary mb-5 text-capitalize">Change Password</h3>
        {% if error_msg %}
        <div class="alert alert-danger w-50">
          <span class="alert-txt">{{ error_msg }}</span>
        </div>
        {% elif success %}
        <div class="alert alert-success w-50">
          <span class="alert-txt">{{ success }}</span>
        </div>
        {% endif %}
        <form class="w-50" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="old_pw">Old Password</label>
            <input
              type="password"
              name="old_password"
              class="form-control"
              id="old_pw"
              required
            />
          </div>
          <div class="form-group">
            <label for="new_pw">New Password</label>
            <input
              type="password"
              name="new_password"
              class="form-control"
              id="new_pw"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm_new_pw">Confirm Password</label>
            <input
              type="password"
              name="confirm_new_password"
              class="form-control"
              id="confirm_new_pw"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-sm px-3 py-2 mt-3">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
