{% extends 'base-li.html' %} {% block content %}

<div class="container">
  <div class="text-right mb-4">
    <a href="{% url 'addmember' %}" class="btn btn-primary btn-xs p-3"
      >Add Family Member</a
    >
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Relation</th>
        <th>Vital Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody id="homeTableBody">
      <!-- {% for member in members %}
      <tr>
        <td>{{ member.first_name }}</td>
        <td>{{ member.last_name }}</td>
        <td>{{ member.dob }}</td>
        <td>{{ member.relation }}</td>
        <td>{{ member.vital_status }}</td>
        <td>
          <div>
            <a
              class="btn btn-success btn-xs"
              href="{% url 'editmember' member.id %}"
              >Edit</a
            >
            <a
              class="btn btn-danger btn-xs open-modal"
              >Delete</a
            >
          </div>
        </td>
      </tr>
      {% endfor %} -->
    </tbody>
  </table>

  <div class="modal fade" id="removeMemberModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modal-title"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Remove Member?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="removeMemberCta"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            Yes
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
  const token = "{{ token }}";
  const host = "{{ host }}";
  const user_id = "{{ user_id }}";
  const user_fname = "{{ user_fname }}";
  const user_lname = "{{ user_lname }}";
  const url = `${host}/api/member/${user_id}/members/`;
  const modalDiv = document.querySelector("#modalDiv");

  const hTbody = document.querySelector("#homeTableBody");

  const removeCTA = document.querySelector("#removeMemberCta");

  const getMembers = () => {
    axios
      .get(url, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((r) => {
        r.data.map((data) => {
          let d_fname = (data.first_name + data.last_name)
            .split(" ")
            .join("")
            .toLowerCase();
          let u_fname = (user_fname + user_lname)
            .split(" ")
            .join("")
            .toLowerCase();

          const html = `
            <tr>
                <td>${data.first_name}</td>
                <td>${data.last_name}</td>
                <td>${data.dob}</td>
                <td>${data.relation}</td>
                <td>${data.vital_status}</td>
                <td>
                    <div>
                        <a
                            class="btn btn-success btn-xs edit-member-cta${
                              data.id
                            }"
                        >
                            Edit
                        </a>
                        <input
                            type="button"
                            class="btn btn-danger btn-xs open-modal${data.id}"
                            data-id=${data.id}
                            data-toggle="modal"
                            data-target="#removeMemberModal"
                            ${d_fname === u_fname ? "disabled" : ""}
                            value="Delete"
                        >
                    </div>    
                </td>
            </tr>
        `;

          hTbody.insertAdjacentHTML("beforeend", html);

          const editMemberCta = document.querySelector(
            `.edit-member-cta${data.id}`
          );

          editMemberCta.onclick = (e) => {
            this.location = `/editmember/${data.id}`;
          };

          const openModal = document.querySelector(`.open-modal${data.id}`);

          openModal.onclick = (e) => {
            e.preventDefault();

            removeCTA.setAttribute(
              "data-id",
              openModal.getAttribute("data-id")
            );
            console.log(removeCTA);

            removeCTA.onclick = (e) => {
              axios
                .delete(
                  `${host}/api/member/remove/${e.target.getAttribute(
                    "data-id"
                  )}`,
                  {
                    headers: {
                      Authorization: `Bearer ${token}`,
                    },
                  }
                )
                .then((res) => {
                  hTbody.innerHTML = " ";
                  getMembers();
                })
                .catch((err) => console.log(err));
            };
          };
        });
      })
      .catch((err) => console.log(err));
  };

  getMembers();
</script>

{% endblock content %}
