{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="login-form d-flex flex-column justify-content-center align-items-center">
        <div class="logo-container">
          <i class="fas fa-tree c-blk mb-5"></i>
        </div>
        {% if error_msg %}
        <div class="alert alert-danger w-50">
          <span class="alert-txt">{{ error_msg }}</span>
        </div>
        {% endif %}
        <form class="w-50" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="login_user">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="login_user"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="login_password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="login_password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-sm px-3 py-2 my-3">Sign in</button>
          <div>
            <small class="form-message">Not registered yet? Sign up <a href="{% url 'register' %}">here</a>.</small>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div
        class="login-image"
        style="background-image: url({% static 'images/login.jpg' %});"
      ></div>
    </div>
  </div>
</div>

{% endblock content %}
