{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div
        class="login-form d-flex flex-column justify-content-center align-items-center"
      >
        <h3 class="mb-4 text-capitalize heading-tertiary c-grey">Create your account</h3>
        {% if error_msg %}
        <div class="alert alert-danger w-50">
          <span class="alert-txt">{{ error_msg }}</span>
        </div>
        {% endif %}
        <form class="w-50" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              class="form-control"
              id="signup_user"
              aria-describedby="emailHelp"
              placeholder="Username"
              value="{{cached_form.username}}"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control"
              id="signup_email"
              aria-describedby="emailHelp"
              placeholder="Email Address"
              value="{{cached_form.email}}"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password1"
              class="form-control"
              id="signup_password1"
              placeholder="Password"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password2"
              class="form-control"
              id="signup_password2"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="first_name"
              class="form-control"
              id="signup_fn"
              placeholder="First Name"
              value="{{cached_form.first_name}}"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="last_name"
              class="form-control"
              id="signup_ln"
              placeholder="Last Name"
              value="{{cached_form.last_name}}"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="date"
              name="dob"
              class="form-control"
              id="signup_dob"
              value="{{cached_form.dob}}"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-sm px-3 py-2 my-3">
            Sign up
          </button>
          <div>
            <small class="form-message"
              >Existing User? Log in
              <a href="{% url 'login' %}">here</a>.</small
            >
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <div
        class="login-image"
        style="background-image: url({% static 'images/login.jpg' %})"
      ></div>
    </div>
  </div>
</div>

{% endblock content %}
